body {
    background: #000000; 
    background:
    url(https://www.spacex.com/static/images/backgrounds/home_feature.webp) 
    no-repeat center;
    background-size: cover;
 }
    
 
.main-header{
    height:100px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-sizing: border-box;
    padding: 45px;
}

.main-header nav{
    width: 50%;
    display:flex;
    justify-content: space-between;
    padding-right: 20vw;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    font-family: DINPro-Bold, Arial, Verdana, sans-serif;
}

.main-header nav:hover{
    text-decoration: underline;
}

.main-header h1{
    font-size: 35px;
    padding-left: 15px;
    letter-spacing: .15em;
    font-family: Medium,Arial,Verdana,sans-serif;
}

.push-button {
    align-items:right;
    background-color: transparent;
}

.main-content {
    height: calc(100vh - 100px);
    margin-left: 5%;
    font-family: Bold,Arial,Verdana,sans-serif;
}

.main-content h3{
    width: 100%;
    font-size: 15px;
    color: white;
    position: absolute;
    top: 60%;
}

.main-content h1{
    width: 100%;
    font-size: 45px;
    font-weight:bold;
    font-style:normal;
    color: white;
    position: absolute;
    top: 64%;
}

.learn-more{
    box-sizing: content-box;
    padding: 15px;
    font-size:15px;
    color: white;
    background-color: transparent;
    position: absolute;
    top: 74%;
    border-color: white;
    cursor: pointer;
}

.learn-more:hover{
    background-color: white;
    color: black;
}
